body {
    background-image: url('../../public/images/backgroundLogin.jpg');
    background-size: cover;
}

.card {
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 500px;
}

.cardLogin {
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px;
    width: 500px;
}

.field{
    width: 100%;
}

.full-width {
    grid-column: span 2;
}